.Tile {
    width: 62px;
    height: 62px;
    border: 2px solid #d3d6da;
    box-sizing: border-box;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;

    &:first-child {
        margin-left: 5px;
    }
}